<header class="tppc-header">
	<div class="container nav-container">
		<a class="brand" href="/index.html" aria-label="TPPC Home">
			<img src="/assets/images/tppc-logo.png" alt="TPPC logo" class="logo" />
			<span class="brand-text">The Print Palace Consult</span>
		</a>
		<button class="nav-toggle" aria-label="Toggle navigation" aria-expanded="false">☰</button>
		<nav class="nav" aria-label="Main navigation">
			<ul class="menu level-1">
				<li><a href="/index.html">TPPC HOME</a></li>
				<li><a href="/orders.html">Get Orders</a></li>
				<li><a href="/quotes.html">Get Quotes</a></li>
				<li><a href="/guided.html">Get GUIDED</a></li>
				<li class="has-dropdown">
					<button class="dropdown-toggle" aria-expanded="false">Pricing Info</button>
					<ul class="menu level-2">
						<li><a href="/pricing.html#tables">Pricing Tables</a></li>
						<li><a href="/pricing.html#calculators">Cost Calculators</a></li>
						<li><a href="/pricing.html#packages">Service Packages</a></li>
					</ul>
				</li>
				<li class="has-dropdown">
					<button class="dropdown-toggle" aria-expanded="false">FAQ</button>
					<ul class="menu level-2">
						<li><a href="/faq.html#orders">Orders</a></li>
						<li><a href="/faq.html#files">Artwork & Files</a></li>
						<li><a href="/faq.html#shipping">Shipping</a></li>
						<li><a href="/faq.html#payments">Payments</a></li>
					</ul>
				</li>
				<li class="has-dropdown">
					<button class="dropdown-toggle" aria-expanded="false">Help Center</button>
					<ul class="menu level-2">
						<li><a href="/help-center.html#guidelines">Artwork Guidelines</a></li>
						<li><a href="/help-center.html#color">Color Management</a></li>
						<li><a href="/help-center.html#file-delivery">File Delivery</a></li>
						<li><a href="/help-center.html#support">Support & Contact</a></li>
					</ul>
				</li>
				<li class="has-dropdown">
					<button class="dropdown-toggle" aria-expanded="false">Request Samples</button>
					<ul class="menu level-2">
						<li><a href="/request-samples.html#form">Sample Request Form</a></li>
						<li><a href="/request-samples.html#gallery">Sample Gallery</a></li>
					</ul>
				</li>
				<li class="has-dropdown">
					<button class="dropdown-toggle" aria-expanded="false">Product Categories</button>
					<ul class="menu level-2 two-col">
						<li><a href="/products.html#B">B</a></li>
						<li><a href="/products.html#C">C</a></li>
						<li><a href="/products.html#D">D</a></li>
						<li><a href="/products.html#E">E</a></li>
						<li><a href="/products.html#F">F</a></li>
						<li><a href="/products.html#G">G</a></li>
						<li><a href="/products.html#H">H</a></li>
						<li><a href="/products.html#I">I</a></li>
						<li><a href="/products.html#J">J</a></li>
						<li><a href="/products.html#K">K</a></li>
						<li><a href="/products.html#L">L</a></li>
						<li><a href="/products.html#M">M</a></li>
						<li><a href="/products.html#N">N</a></li>
						<li><a href="/products.html#O">O</a></li>
						<li><a href="/products.html#P">P</a></li>
						<li><a href="/products.html#Q">Q</a></li>
						<li><a href="/products.html#R">R</a></li>
						<li><a href="/products.html#S">S</a></li>
						<li><a href="/products.html#T">T</a></li>
						<li><a href="/products.html#U">U</a></li>
						<li><a href="/products.html#V">V</a></li>
						<li><a href="/products.html#W">W</a></li>
						<li><a href="/products.html#X">X</a></li>
						<li><a href="/products.html#Y">Y</a></li>
					</ul>
				</li>
				<li class="has-dropdown">
					<button class="dropdown-toggle" aria-expanded="false">About Us</button>
					<ul class="menu level-2">
						<li><a href="/about/company-profile.html">Company Profile</a></li>
						<li><a href="/about/reviews.html">Customer Reviews</a></li>
						<li><a href="/about/going-green.html">Going Green</a></li>
						<li><a href="/blog/index.html">Printing Blogs</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</header>
